@charset "UTF-8";
@font-face {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  src: url("entypo-social.woff") format("woff");
}
@font-face {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  src: url("entypo.woff") format("woff");
}
.entypo-facebook:before{content:"\f30c"}
.entypo-twitter:before{content:"\f309"}
.entypo-gplus:before{content:"\f30f"}
.entypo-pinterest:before{content:"\f312"}
.entypo-tumblr:before{content:"\f315"}
.entypo-linkedin:before{content:"\f318"}
.entypo-paper-plane:before{content:"\27A2"}
.entypo-renren:before{content:"\f33C"}
.entypo-weibo:before{content:"\f33F"}
.sprite-link:before{content:"\1F517"}
.sprite-share:before{content:"\E73C"}
.sprite-forward:before{content:"\E75E"}
.sprite-back:before{content:"\E75D"}
.sprite-prev:before{content:"\E75F"}
.sprite-next:before{content:"\E75C"}
.sprite-r:before{content:"\1F500"}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:0;
}
::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
body{
    margin:0px;
    padding:0px;
    position: relative;
    overflow: initial;
    background-color:#f8f8f8;
    min-height:180px;
}
div.leftbar{
    display:none;
    width:350px;
    position:absolute;
    overflow:hidden;
    left:0px;
    top:0px;
    height:600px;
    background-color: #F9F9F9;
    border-right: 1px solid #E7E3E3;
}
div.rightbar{
    display:none;
    overflow:hidden;
    position:absolute;
    right:0px;
    border: 1px solid #E7E3E3;
    top:0px;
    height:600px;
    background-repeat: no-repeat;
    min-height: 100% !important;
    /*background-position: center 90%;*/
    /*background-size: auto 100%;*/
}
div.rightbar div.prev:hover,div.rightbar div.next:hover{
	opacity: .8;
}
div.rightbar div.prev,div.rightbar div.next{
    display:none;
    background:url(../img/prevnext.png) 0 -42px;
    width:22px;
    height:41px;
    position:absolute;
    cursor:pointer;
}
div.rightbar div.prev{
    left:0px;
}
div.rightbar div.next{
    background:url(../img/prevnext.png) -106px -42px;
    right:0px;
}
img#bgbg{
    height:525px;
    position:absolute;
    width:100%;
}
iframe#webv{
    width:100%;
    height:100%;
}
a.saveas{
    display:block;
    position:absolute;
    right:10px;
    bottom:10px;
    width:130px;
    text-align:center;
    height:33px;
    line-height:30px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 700;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #2b96f1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #24a5e4), color-stop(1, #1a80d9));

    background: -webkit-linear-gradient(top, #24a5e4 0%, #1a80d9 100%);
    background: linear-gradient(top, #24a5e4 0%, #1a80d9 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.1);
    border: solid 1px #135fa4;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
a.saveas:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3cb2e7), color-stop(1, #3392de));

    background: -webkit-linear-gradient(top, #3cb2e7 0%, #3392de 100%);
    background: linear-gradient(top, #3cb2e7 0%, #3392de 100%);
    border-color: #2875b8;
    text-decoration: none;
}
div.loading{
    width:50px;
    height:10px;
    position:absolute;
    top:260px;
    left:320px;
    background-image: url('../img/loading.gif');
    z-index:100;
}
webview{
    overflow:hidden;
    width:100%;
    min-height: 100%;
}
div#FP_pushmes{
    width: 235px;
    background-color: rgba(0,0,0,0.8);
    border-radius:5px;
    color: #db6805;
    padding: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
div#FP_pushmes a{
    display: block;
    text-decoration: underline;
    color: #db6805;
    padding-top:5px;
}
div.add,div.login{
    margin:1px 0px -1px 0px;
    padding:10px;
    width:100%;
    height:57px;
    background-color: #f3ede5;
    border:1px solid #e4e0dc;
    position:relative;
}
div.add{
    border-right: 0px;
}
div.login{
    position:absolute;
    width:350px;
    height:180px;
    top:160px;
    left:305px;
}
div.add input,div.login input{
    width:100%;
    height:35px;
    border:1px solid #e4e0dc;
    padding-left:10px;
    color:#1F1E1E;
    outline:0;
    font-size:11px;
}
div.login input{
    margin-top:15px;
}
div.login button{
    width:45%;
    bottom:20px;
    display:block;
}
button.signinbutton{
    right:10px;
}
div.add input.outl{
    border:1px solid orange;
}
div.help,div.searchwrap{
    display:none;
}
div.searchitem{
    background-color:#fff;
    margin:0px 0px 10px 0px;
    overflow:hidden;
    width:350px;
    /*height:163px;*/
    border:1px solid #e4e0dc;
    overflow:hidden;
    font:13px Tahoma,"微软雅黑";
}
div.searchitem div{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
div.searchitem h3{
    color:#282725;
    background-color:#fbf5ec;
    font-size:15px;
    display:block;
    padding-left:10px;
    width:350px;
    height:37px;
    line-height:37px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
div.searchitem h3:hover, div.searchitem p:hover{
    text-decoration:underline;
    cursor:pointer;
}
div.searchitem p{
    color:#282725;
    /*height:85px;*/
    padding:15px 0px 12px 10px;
    display:block;
    overflow:hidden;
}
b {
    color:#ff9e2e;
}
div.searchitem span:nth-child(1){
    margin:2px 30px 3px 20px;
}
div.searchitem span{
    display:block;
    width:110px;
    height: 30px;
    box-shadow: 0px 1px #f1eeeb;
    border:1px solid #e4e0dc;
    float:left;
    text-align: center;
    line-height: 30px;
    cursor:pointer;
}
div.searchitem span:active{
    border:1px solid #b8b2aa;
    box-shadow: 0px 0px #e5e1df;
}
div.searchitem span:hover{
    border:1px solid #b8b2aa;
    box-shadow: 0px 1px #e5e1df;
}
div.searchitem a{
    text-transform:uppercase;
    font-weight:600;
    color:#282725;
    display:block;
}
div#content,div.help,div.searchresults{
    width:350px;
    /*border:1px solid #e4e0dc;*/
    margin:0px 0px 0px 0px;
    box-shadow:0px 1px #edeae8;
}
div.wrap,div.searchwrap{
    width:350px;
    overflow-y:scroll;
    overflow-x:hidden;
}
div.novel,div.qaitem{
    background-color:#fefbf8;
    width:350px;
    overflow:hidden;
}
div.novel:hover,div.qaitem:hover{
    background-color:#fbf5ec;
}
div.novel:nth-last-child(1) div.name,div.qaitem:nth-last-child(1) div.qatitle,div.qaanswer li:nth-last-child(1){
    border-bottom:none;
}
div.name,div.qatitle{
    width:350px;
    height:40px;
    overflow:hidden;
    border-bottom:1px dotted #e4e0dc;
    font:14px Tahoma;
    font-weight:bold;
    position:relative;
}
div.chapters,div.qaanswer{
    width:350px;
    display:none;
}
div.chapters:hover div.fold{
    display:block;
}
ul.novelupdate li:hover span.del,ul.novelupdate li:hover span.delitem{
    display:block;
}
div.name:hover span.del{
    display:block;
}
div.hideit span.del,div.hideit:hover span.del{
    display:none;
}
div.name a{
    color:#282725;
    overflow:hidden;
    white-space: nowrap;
    display:block;
    width:85%;
    position:absolute;
    left:40px;
    line-height:40px;
    text-indent: 2px;
    float:left;
    text-overflow:ellipsis;
    cursor:pointer;
}
span.del, span.notis, span.delitem{
    display:block;
    width:40px;
    height:100%;
    font-size:12px;
    color:white;
    cursor:pointer;
}
li span.del,li span.delitem{
    top:-3px;
}
span.del,span.delitem{
    display:none;
    background: url(../img/del3.png) no-repeat 10px 9px;
    position:absolute;
    right:0px;
}
span.del:hover,span.delitem:hover{
    background: url(../img/del4.png) no-repeat 10px 9px;
}
span.del:active,span.delitem:active{
    background: url(../img/del5.png) no-repeat 10px 9px;
}
span.notis{
    width:auto;
    font:12px arial, sans-serif;
    display:none;
}
span.nonzero{
    display:block;
    padding:0 5px 0 5px;
    min-width:16px;
    margin-top:12px;
    height: 15px;
    background-color:#ff9609;
    border-radius: 8px;
    position:absolute;
    right:315px;
}
div.novel ul, div.help ul{
    background-color: #fff;
    width:100%;
    float:left;
}
div.novel ul li{
    height:33px;
    position:relative;
}
div.novel ul li:hover span.starit, div.novel ul li:hover span.starit2{
    display:block;
}
span.starit, span.starit2{
    position:absolute;
    top:0px;
    right:5px;
    background:url("../img/star1.png") no-repeat 3px 9px;
    width:20px;
    height:40px;
    display:none;
    cursor:pointer;
}
span.starit:active{
    background: url("../img/star3.png") no-repeat 3px 9px;
}
span.starit:hover{
    background:url("../img/star2.png") no-repeat 3px 9px;
}
span.starit2:hover{
    background:url("../img/star4.png") no-repeat 3px 9px;
}
div.rightbar span.starit{
    background:url("../img/bigstar.png") no-repeat 0px 6px;
}
span.starit2{
    background:url("../img/star3.png") no-repeat 3px 9px;
}
div.rightbar span.starit:hover{
    background:url("../img/bigstar2.png") no-repeat 0px 6px;
}
div.rightbar span.starit:active,div.rightbar span.starit2{
    background: url("../img/bigstar3.png") no-repeat 0px 6px;
}
span.markstar{
    position:absolute;
    right:20px;
    top:-2px;
    background-size: 100% !important;
    width: 30px;
}
div.novel ul li:hover {
    background-color:#fbf5ec;
}
div.novel ul a,div.qaanswer ul li{
    font:12px/18px Tahoma,'宋体';
    color:#333;
    padding:2px 40px 2px 40px;
    font-weight:bold;
    padding-bottom: 2px;
    display:block;
    line-height: 33px;
    overflow:hidden;
}
div.novel ul a{
    text-overflow:ellipsis;
    white-space:nowrap;
    width:95%;
    cursor:pointer;
}
div.qatitle{
    color: #282725;
    line-height:40px;
    text-align:left;
    text-indent: 40px;
}
div.qaanswer ul li{
    border-bottom:1px dashed #e4e0dc;
}
div.qaanswer ul li a{
    text-align:center;
    color: orange;
    display:block;
}
div.qaanswer ul li a:hover{
    color:#FF0000;
}
div.clearall:active,div.backbutton:active,div.reload:active{
    border:1px solid #b8b2aa;
    box-shadow: 0px 0px #e5e1df;
}
div.clearall:hover,div.backbutton:hover,div.reload:hover{
    border:1px solid #b8b2aa;
    box-shadow: 0px 1px #e5e1df;
}
div.backbutton{
    display:none;
}
div.clearall,div.backbutton,div.reload{
    width:100%;
    height:30px;
    margin:0px 0px 0px 0px;
    background:#fefbf8;
    text-align:center;
    border:1px solid #e4e0dc;
    font:16px/28px Tahoma;
    box-shadow: 0px 1px #f1eeeb;
    color:#282725;
    cursor:pointer;
}
div.moreitem{
    display:none;
}
div.saving{
    width:100%;
    height: 600px;
    background-color:rgba(0,0,0,0.9);
    color:white;
    font-size:33px;
    text-align: center;
    padding: 10% 0;
    position: absolute;
    top:0px;
    z-index:200;
}
.ui-autocomplete{
    background-color: rgba(25,25,25,0.9);
    width:30% !important;
    position: absolute !important;
    color:wheat;
}
li.ui-menu-item{
    padding:5px;
    border-bottom: 1px solid white;
}
li.ui-menu-item:hover{
    background-color:rgba(100,100,29,0.9);
}
form span{
    display:none;
}


/*// for option page*/

div.oheader{
    width:100%;
    height: 50px;
    background-color:#333;
    color:white;
    font: 25px/50px tahoma;
    text-indent: 30px;
}
div.oall{
    position:relative;
    padding:30px;
}
div.ocontainer{
    height:410px;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.omainface,div.oprofile,div.osetting{
    position:relative;
    width:360px;
    left:8%;
    float:left;
}
/*::-webkit-scrollbar {
    display:block;
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(104, 95, 95, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(104, 95, 95, 0.4);
}*/

div.oprofile,div.osetting{
    margin-left:40px;
    height:470px;
    width:320px;
    border:1px solid #e4e0dc;
}
div.oprofile>div.setbox2{
    height:240px;
}
div.osetting{
    /*left:40%;*/
}
div.setbox,div.setbox2{
    position:relative;
    width:100%;
    height:100px;
}
div.setbox2{
    height:140px;
}
div#glo,div#badgeoff,div#autosync{
    right:8%;
    position:absolute;
    margin:20px 0;
    width:50px;
}
div.setbox2:nth-child(2) label.labelone{
    top:130px;
}
span.labelone{
    position: relative;
    margin:15px 0 0 30px;
    display:block;
    width:30%;
    height:30px;
    line-height:30px;
    float:left;
}
label.labelone,label.labelone2{
    display:block;
    position:absolute;
    top:100px;
    left:30px;
}
label.labelone2{
    top:140px;
}
div.setbox2 input{
    position:absolute;
    width:50%;
    top:100px;
    right:10px;
}
div.noUi-base{
    background-color: green;
}
div.noUi-origin{
    background-color: #FAFAFA;
}
div#checktimebar,div#canceltimebar,div#autosavetime,div#keepchapters{
    position:relative;
    width:280px;
    margin:20px 0px 0px 19px;
}
div#keepchapters{
    top:105px;
}
div#autosavetime{
    top:120px;
}
div.oupdate{
    margin:50px 0px 0px 0px;
}
span.bartitle{
    position:relative;
    display:block;
    color:#282725;
    background-color:#fbf5ec;
    font-size:15px;
    font-weight:bold;
    display:block;
    width:100%;
    height:37px;
    line-height:37px;
    padding-left: 20px;
}
span#cancelvalue, span#checkvalue,span#autovalue,span#keepnumber{
    position:relative;
    top:20px;
    left:40%;
    display:block;
    width:30px;
    height:10px;
}
span#keepnumber:after{
    content:"items";
    padding-left:2px;
}
span#keepnumber{
    top:115px;
    left:50px;
}
span#cancelvalue:after{
    content:"seconds";
    padding-left:2px;
}
span#checkvalue:after,span#autovalue:after{
    padding-left:2px;
    content:"minutes";
}
span#autovalue{
    top:120px;
}
button.cleardel{
    top:50px;
    left:30px;
    width:80%;
}
button.clearall{
    top:90px;
    left:30px;
    width:80%;
}
button.clearout{
    bottom:25px;
    width:40%;
    right:20px;
}
button {
    width:100%;
    height:30px;
    position:absolute;
    bottom:-40px;
    text-align: center;
    box-shadow: 0px 1px #f1eeeb;
    border:1px solid #e4e0dc;
    background-color:#fefbf8;
}
button:active{
    border:1px solid #b8b2aa;
    box-shadow: 0px 0px #e5e1df;
}
button:hover{
    border:1px solid #b8b2aa;
    box-shadow: 0px 1px #e5e1df;
}
span.deletec{
    width:40px;
    height:100%;
    font-size:12px;
    color:white;
    cursor:pointer;
    display:none;
    background: url(../img/del3.png) no-repeat 10px 9px;
    position:absolute;
    right:0px;
}
li span.deletec{
    top:-3px;
}
ul.novelupdate li:hover span.deletec{
    display:block;
}
span.deletec:hover{
    background: url(../img/del4.png) no-repeat 10px 9px;
}
span.deletec:active{
    background: url(../img/del5.png) no-repeat 10px 9px;
}
div.pagen{display:none;position:fixed;width: 40px;height: 250px;top: 28%;right:3%;cursor:pointer;}
.flipy {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.sprite {
    display: block;
    height: 40px;
    width: 40px;
    margin-top:10px;
    background-color: rgba(52,52,52,1);
    position:relative;
}
.sprite:before{
    font-family: entypo,sans-serif;
    font-size: 45px;
    color: white;
    top:0px;
    height:40px;
    width:40px;
    font-style:initial;
    text-align:center;
    position:absolute;
}

.sprite-share {
    width: 40px !important;
    height: 40px !important;
}
.sprite-share:hover {
    background-position: -55px -105px;
}
.sprite:hover{
    background-color: rgba(52,52,52,0.8);
}

.loader {
  display:none;
  z-index:300;
  position: absolute;
  top: 180px;
  left:460px;
  width: 175px;
  height: 100px;
}
.loader span {
  display: block;
  background: #ccc;
  width: 7px;
  height: 10%;
  border-radius: 14px;
  margin-right: 5px;
  float: left;
  margin-top: 25%;
}
.loader span:last-child {
  margin-right: 0px;
}
.loader span:nth-child(1) {
  -webkit-animation: load 2.5s 1.4s infinite linear;
}
.loader span:nth-child(2) {
  -webkit-animation: load 2.5s 1.2s infinite linear;
}
.loader span:nth-child(3) {
  -webkit-animation: load 2.5s 1s infinite linear;
}
.loader span:nth-child(4) {
  -webkit-animation: load 2.5s 0.8s infinite linear;
}
.loader span:nth-child(5) {
  -webkit-animation: load 2.5s 0.6s infinite linear;
}
.loader span:nth-child(6) {
  -webkit-animation: load 2.5s 0.4s infinite linear;
}
.loader span:nth-child(7) {
  -webkit-animation: load 2.5s 0.2s infinite linear;
}
.loader span:nth-child(8) {
  -webkit-animation: load 2.5s 0s infinite linear;
}
.loader span:nth-child(9) {
  -webkit-animation: load 2.5s 0.2s infinite linear;
}
.loader span:nth-child(10) {
  -webkit-animation: load 2.5s 0.4s infinite linear;
}
.loader span:nth-child(11) {
  -webkit-animation: load 2.5s 0.6s infinite linear;
}
.loader span:nth-child(12) {
  -webkit-animation: load 2.5s 0.8s infinite linear;
}
.loader span:nth-child(13) {
  -webkit-animation: load 2.5s 1s infinite linear;
}
.loader span:nth-child(14) {
  -webkit-animation: load 2.5s 1.2s infinite linear;
}
.loader span:nth-child(15) {
  -webkit-animation: load 2.5s 1.4s infinite linear;
}

@-webkit-keyframes load {
  0% {
    background: #ccc;
    margin-top: 25%;
    height: 10%;
  }

  50% {
    background: #444;
    height: 100%;
    margin-top: 0%;
  }

  100% {
    background: #ccc;
    height: 10%;
    margin-top: 25%;
  }
}
